<div id="search-bar">
	<div class="search-bar">

		<div>
			<div class="row d-flex justify-content-center">
				<div [ngClass]="{
					'col-xl-12 col-12': !dates,
					'col-xl-6 col-12': dates
				}">
					<form class="example-form">
						<mat-label *ngIf="!dates">Busqueda</mat-label>
					  <mat-form-field class="w-100">
					    <input type="text"
					           placeholder="Realice su busqueda aqui"
					           matInput
					           (keyup)="onKey($event)"
					           >
					    
					  </mat-form-field>
					</form>

				</div>

				<div class="col-xl-3" *ngIf="dates">
					<mat-form-field class="w-100">
					  <mat-label>Fecha de inicio</mat-label>
					  <input matInput [matDatepicker]="picker" (dateChange)="onChangeDate('start', $event)">
					  <mat-datepicker-toggle matSuffix [for]="picker">
					    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
					  </mat-datepicker-toggle>
					  <mat-datepicker #picker></mat-datepicker>
					</mat-form-field>

				</div>

				<div class="col-xl-3" *ngIf="dates">
					<mat-form-field class="w-100">
					  <mat-label>Fecha de fin</mat-label>
					  <input matInput [matDatepicker]="pickerEnd" (dateChange)="onChangeDate('end', $event)">
					  <mat-datepicker-toggle matSuffix [for]="pickerEnd">
					    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
					  </mat-datepicker-toggle>
					  <mat-datepicker #pickerEnd></mat-datepicker>
					</mat-form-field>

				</div>
			</div>	
		</div>
	</div>
	
</div>
