<div id="search-bar">
	<div class="search-bar">
		<div>
			<div class="row d-flex justify-content-center">
				<div class="col-xl-8 col-12" style="position: relative;" [formGroup]="searchForm">

					<ngx-autocomplete 
						formControlName="keyword"
            [control]="searchForm.controls.keyword"
            [apiString]="apiUrl"
            paramName="keyword"
            payloadPropName="data"
            suggestionPropName="reference"
            placeholder="Busca por referencia"
            (selected)="onSelected($event)"></ngx-autocomplete>

				</div>
			</div>	
		</div>
	</div>
	
</div>
