.card-dashboard{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 10px 20px;
  
  margin: 10px 0;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: right;
  min-height: 120px;
  
}

.card-dashboard h3{
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.card-dashboard img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.leads{
  //background-image: url('./../../../assets/img/share.png');
  background-image: url('https://ionicframework.com/img/getting-started/ionic-native-card.png');
}

.active{
  //background-image: url('./../../../assets/img/green.png');
  //background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
  
}

.no-purchase{
  //background-image: url('./../../../assets/img/rec.png');
  //background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
}

.sales{
  //background-image: url('./../../../assets/img/dot.png');
  //background-image: url('https://ionicframework.com/img/getting-started/ionic-native-card.png');
}



@media(max-width: 990px){
  .card-dashboard{
    margin: 20px;
  }
} 