<div id="discover mt-5">

	<div class="container">


		<div class="row justify-content-end align-items-center">

			<div class="col-xl-3">
				<mat-form-field class="w-100">
				  <mat-label>Fecha de inicio</mat-label>
				  <input matInput [matDatepicker]="picker" (dateChange)="onChangeDate('start', $event)">
				  <mat-datepicker-toggle matSuffix [for]="picker">
				    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
				  </mat-datepicker-toggle>
				  <mat-datepicker #picker></mat-datepicker>
				</mat-form-field>

			</div>

			<div class="col-xl-3">
				<mat-form-field class="w-100">
				  <mat-label>Fecha de fin</mat-label>
				  <input matInput [matDatepicker]="pickerEnd" (dateChange)="onChangeDate('end', $event)">
				  <mat-datepicker-toggle matSuffix [for]="pickerEnd">
				    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
				  </mat-datepicker-toggle>
				  <mat-datepicker #pickerEnd></mat-datepicker>
				</mat-form-field>

			</div>
			<div class="col-xl-3">
				<ngx-select-dropdown (change)="filter()" tabindex="0" [disabled]="false" [multiple]="false" [(ngModel)]="line"
          [config]="config1" [options]="lines">
        </ngx-select-dropdown>
			</div>

			<div class="col-xl-3" *ngIf="clients.length">
				<ngx-select-dropdown (change)="filter()" tabindex="0" [disabled]="false" [multiple]="false" [(ngModel)]="client"
          [config]="config2" [options]="clients">
        </ngx-select-dropdown>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-md-6" *ngIf="linear">
				<h3>Valor en compras</h3>
				<app-linear-chart [data]="linear" [title]="''"></app-linear-chart>
			</div>

			<div class="col-12 col-md-6" *ngIf="linear2">
				<h3>Cantidad de transacciones</h3>
				<app-linear-chart [data]="linear2" [title]="''"></app-linear-chart>
			</div>
			<div class="col-12">
				<h3>Total de ventas</h3>
				<app-area-chart [data]="area"></app-area-chart>
			</div>
		</div>
		
	</div>

</div>

