#header-auth{
	//background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(29,59,84,1) 26%, rgba(29,59,84,1) 73%, rgba(2,0,36,0) 100%);
	padding: 10px 0;
	background-color: #1d3b54;
	.header-auth-logo{
		width: 200px;
		height: 80px;
		background: url('./../../../../assets/images/logo.png');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}