<form [formGroup]="collectionForm" (ngSubmit)="onSubmit(collectionForm.value)" novalidate class="custom-form">
	<div class="form-title">New Collection! <img src="http://www.colsein.com.co/pandora/assets/images/user.png" alt="hey - wizer"></div>
	<div class="row">
		<!-- <div class="col-12">
			<div class="alert alert-danger" role="alert" *ngIf="showError">
			  Check your data
			</div>
		</div> -->
	</div>	
	<div class="row">

		<div class="col-xl-12 col-12">
    	<div class="form-group">
	      <label for="title" class="m-0">Name of Collection</label>
	      <input 
	      	type="text" 
	      	formControlName="title" 
	      	class="form-control" 
	      	id="title" 
	      	placeholder="..."
	      	[ngClass]="{'invalid':(title.dirty || title.touched) && title.invalid && title.errors.required}"
	      >
	      <div class="invalid-feedback d-block" *ngIf="(title.dirty || title.touched) && title.invalid && title.errors.required">
	        Collection title required
	      </div>
	     </div>
    </div>

    <div class="col-12">
    	<button type="submit" class="btn btn-custom-primary w-100" [disabled]="!collectionForm.valid">save</button>
    </div>
  </div>

</form>