<div class="articles">

	
	<div class="row">

		<ng-template *ngFor="let article of articles | paginate: { 
			itemsPerPage: 6, currentPage: page,totalItems: total
		}">
			<div class="col-xl-4 col-sm-12 col-12" *ngIf="article">
				<app-article [collections]="collections"  [article]="article"></app-article>
			</div>
		</ng-template>
		
		

		<div class="col-12 mt-3">
			<div class="d-flex justify-content-center">
				<pagination-controls 
					(pageChange)="onChangePage($event)"
					previousLabel="Anterior"
					nextLabel="Siguiente"
				></pagination-controls>
			</div>
			
			
		</div>
	</div>

	
</div>

