<div id="wizer" class="d-flex flex-column justify-content-between">
	<div class="container p-xl-0">
		<div class="row">
			<app-sidebar [active]="sidebarActive" [user]="user"></app-sidebar>

			<div class="col-xl-12">
				<div class="content">
			    <div id="header">
			    	<div style="min-height: 90px;" class="row align-items-center justify-content-between">
			    		<div class="col-9 col-md-3 col-xl-3">
			    			<a [routerLink]="['/request']">
			    				<img src="http://www.colsein.com.co/pandora/assets/images/logo-2.png" alt="pandora" class="img-fluid">
			    			</a>
			    		</div>
			    		<div class="col-xl-6 col-md-6 col-12 d-xl-block d-md-none d-none">
			    			<div class="principal">
					        <a [routerLink]="['/pandora']" [routerLinkActive]="['active']" class="discover">Mi pandora</a>
					        <a [routerLink]="['/request']" *ngIf="user.role != 'admin' && t" class="discover">Solicitudes</a>
					        <a [routerLink]="['/reload']" [routerLinkActive]="['active']" class="discover">Recarga</a> 
					        <a [routerLink]="['/history']" [routerLinkActive]="['active']" class="discover">Histórico</a> 
					      </div>

			    		</div>
			    		<div class="col-xl-3 col-md-3 col-12 d-md-none d-none">
			    			<div class="user">
					        <div 
					          class="user-avatar" 
					          *ngIf="user.id"
					          [ngStyle]="{'background-image': 'url(' + this.user.avatar + ')'}"
					          [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
					        ></div>

					        <mat-menu #menu="matMenu">

					        	<a [routerLink]="['/clients']" mat-menu-item *ngIf="user.role == 'admin'">
					            <div class="d-flex justify-content-between align-items-center">
					              <span>Indicadores (Kpi's)</span>
					            </div>
					            
					          </a>

					        	<a [routerLink]="['/users']" mat-menu-item *ngIf="user.role == 'admin'">
					            <div class="d-flex justify-content-between align-items-center">
					              <span>Administrar usuarios</span>
					            </div>
					            
					          </a>
					          <button mat-menu-item (click)="logout()">
					            <div class="d-flex justify-content-between align-items-center">
					              <i class="flaticon-logout"></i>
					              <span>Cerrar sesión</span>
					            </div>
					            
					          </button>
					        </mat-menu>


					        <div class="user-login" *ngIf="!user.id">
					          <a [routerLink]="['/login']">Inicia sesión</a>
					          <!--<a [routerLink]="['/register']">register</a>-->
					        </div>
					      </div>
			    		</div>

			    		<div class="col-md-1 col-2 d-md-block">

			    			<div class="toggle-menu">

			    				<img src="http://www.colsein.com.co/pandora/assets/images/menu.png" alt="pandora" class="img-fluid" style="width: 25px;" (click)="toggleSidebar()">
			    			</div>
			    		</div>
			    	</div>
			      

			      
			    </div>

			    
			    <router-outlet></router-outlet>
			    
			  </div>
			</div>
	  
		</div>
		
	 

	</div>

	<div class="container">
		<div class="row align-items-center d-flex flex-column pb-5">

			<div class="col-auto">
				<img style="width: 80px;" src="http://www.colsein.com.co/pandora/assets/images/logo-colsein.png" alt="pandora" class="img-fluid">
			</div>
			<div class="col-auto">
				<a href="http://colsein.com.co">Colsein SAS.</a> todos los derechos reservados 2020 
			</div>

			
		</div>
	</div>
</div>
