<div id="discover">

	<div class="container">
		<div class="row" *ngIf="!slug">
			<div class="col-12">
				<app-search-bar [dates]="true" [key]="'history'" *ngIf="articles" (itemOutput)="changeTerm($event)" [items]="articles"></app-search-bar>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="title-section" *ngIf="!slug">
					Historico
				</div>
			</div>
			
		</div>

		<app-group (pagination)="onChangePage($event)" [itemsPerPage]="total_2" [term]="term" [total]="total" [articles]="articles" *ngIf="articles"></app-group>	
		
	</div>

</div>
